/* CSS Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

.emplayo_blue{
	color: #364954 !important;
}

.dark_blue{
	color: #6d7a83 !important;
}

.yellow{
	color: #e9b60b !important;
}

.red{
	color: #941f1c !important;;
}

.blue{
	color: #1d71a2 !important;
}

.light_blue{
	color: #258cd1 !important;
}

.purple{
	color: #ad27c1 !important;
}

.green{
	color: #27c339 !important;
}

/* Page styles */
hr {
background-color:#ccc;
border-width:0;
color:#ccc;
height:1px;
line-height:0;
text-align:center;
}

ul {
	list-style-type: none;
}

span {
	font-weight: bold;
}

a:link, a:active, a:visited {
	color: #1d71a2;
	text-decoration: none;
}

a:hover {
	color: #e9b60b;
	text-decoration: none;
}

body{
	background: none repeat scroll 0 0 #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size:25px;
	color: #6d7a83;
}

#header{
	height:80px;
	left: 0;
    min-width: 1022px;
}

.content {
	width: 1022px;
	margin-left: auto;
	margin-right: auto;
}

div#header .content{
	height: 55px;
	padding-top: 25px;
}

#logo{
	background: url(../images/emplayo_beta.png) no-repeat;
	display: block;
	width: 300px;
	height: 50px;
	margin-top: -10px;
}

div#header_icon{
	width: 40px;
	height: 40px;
	background-color: #ccc;
	float: right;
	background: url(../images/silhouette_sm.png) no-repeat;
	border: 1px solid #6d7a83;
	margin-right: 10px;
	cursor: pointer;
}

div#header_email{
	float: right;
	font-size: 16px;
	margin: 14px 15px 0; 
}

div#header_email a:link, div#header_email a:active, div#header_email a:visited, div#header_email a:hover{
	color: #ccc;
}

/* Locked Modal */
#locked_fade { /*--Transparent background layer--*/
	display: none; /*--hidden by default--*/
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}

/* User Settings Menu Modal */
#transparent_fade { /*--Transparent background layer--*/
	display: none; /*--hidden by default--*/
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: 0;
	z-index: 9999;
}

#modal_settings{
	display: none; /*--hidden by default--*/
	background: #fff;
	border: 1px solid #6d7a83;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	position: absolute;
	margin: 50px 0 0 770px;
	z-index: 99999;
	width: 240px;
	padding: 10px 0px;
	-moz-box-shadow: 0px 0px 5px #ccc;
	-webkit-box-shadow: 0px 0px 5px #ccc;
	box-shadow: 0px 0px 5px #ccc;
}

#modal_settings div{
	text-align: center;
}

#modal_settings a{
    float: left;
    padding: 10px 20px;
    width: 200px;
}

#modal_settings a:hover{
    background-color: #1D71A2;
    color: #FFFFFF;
}

#footer { 
	clear:both;
	min-width: 1022px;
	padding-top: 25px;
}

div#skyline{
	background: url(../images/story_bg.png) no-repeat;
	background-position: top center;
	height:100px;
}

#navigation {
	background-color:#6d7a83;
	color: #fff;
	font-size: 17px;
	letter-spacing:1px;
	min-width: 1022px;
}

div#navigation .content{
	text-align: center;
	height:100px;
}

#nav-list {
    height: 55px;
    margin: auto;
    width: 680px;
}

#nav-list li{
	margin: 20px 0;
	padding: 0 20px;
	float: left;
}

#nav-list a:link, #nav-list a:active, #nav-list a:visited {
	color: #fff;
	text-decoration: none;
}

#nav-list a:hover {
	color: #e9b60b;
	text-decoration: none;
}

ul#nav-list .borders{
	border-right: 1px solid #fff;
}

.fluid {
	width: 100%;
	float: left;
}

.clear{
	clear: both;
}

.block{
	display: block;
	cursor: pointer;
}

.float_right{
	float: right;
}

.zindex{
	z-index: 9999;
}

div.preload{
	display: none;
	width: 1px;
	height: 1px;
}

/* Modal */
#fade { /*--Transparent background layer--*/
	display: none; /*--hidden by default--*/
	background: #000;
	position: fixed; left: 0; top: 0;
	width: 100%; height: 100%;
	opacity: .80;
	z-index: 9999;
}

.modal_popup{
	display: none; /*--hidden by default--*/
	background: #fff;
	padding: 20px;
	border: 20px solid #ddd;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	position: absolute;
	left: 50%; /*--top:50%--*/
	z-index: 99999;
	/*--CSS3 Box Shadows--*/
	-webkit-box-shadow: 0px 0px 20px #000;
	-moz-box-shadow: 0px 0px 20px #000;
	box-shadow: 0px 0px 20px #000;
	/*--CSS3 Rounded Corners--*/
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

img.btn_close {
	float: right;
	margin: -55px -55px 0 0;
}

a.buttons{
	padding: 4px 0px;
}

.success{
	color: #27c339;
}

.errors{
	color: #941f1c;
}

.button_grey {
	background-color: #333;
	color: #fff;
	border: 1px #258cd1 solid;
	cursor: pointer;
}

.button_blue {
	background-color: #1d71a2;
	color: #fff;
	border: 1px #258cd1 solid;
	cursor: pointer;
}

.button_green {
	background-color: #27c339;
	color: #fff;
	border: 1px #333 solid;
	cursor: pointer;
}

.messages{
    color: #ad27c1;
}

h1.titles{
	font-family: 'SketchRockwell';
	font-size: 40px;
	margin: 20px 100px;
}

/*--Making IE6 Understand Fixed Positioning--*/
*html #fade {
	position: absolute;
}
*html .modal_popup {
	position: absolute;
}

/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */

/* Feedback Tab */
div#uvTab{
	top: 20% !important;
	margin: 0 !important;
}

/* Share Buttons */

div#sthoverbuttons{
	top: 55% !important;
}

div#sthoverbuttons .sthoverbuttons-top-r, div#sthoverbuttons .sthoverbuttons-shade-r, div#sthoverbuttons .sthoverbuttons-bottom-r{
	background: none !important;
}

span.st_facebook_large span.stLarge{
	background: url(../images/share/facebook_32.png) no-repeat !important;
	width: 32px;
	height: 32px;
}

span.st_twitter_large span.stLarge{
	background: url(../images/share/twitter_32.png) no-repeat !important;
	width: 32px;
	height: 32px;
}

span.st_linkedin_large span.stLarge{
	background: url(../images/share/linkedin_32.png) no-repeat !important;
	width: 32px;
	height: 32px;
}

span.st_pinterest_large span.stLarge{
	background: url(../images/share/pinterest_32.png) no-repeat !important;
	width: 32px;
	height: 32px;
}

span.st_googleplus_large span.stLarge{
	background: url(../images/share/googleplus_32.png) no-repeat !important;
	width: 32px;
	height: 32px;
}

span.st_email_large span.stLarge{
	background: url(../images/share/email_32.png) no-repeat !important;
	width: 32px;
	height: 32px;
}

span.st_sharethis_large span.stLarge{
	background: url(../images/share/sharethis_32.png) no-repeat !important;
	width: 32px;
	height: 32px;
}

span.stButton img {
	right: 21px !important;
	top: 15px !important;
}

#sthoverbuttons div.sthoverbuttons-label{
	width: 35px;
	text-align: center;
	margin: auto;
	color: #1d71a2;
}