/* Home Page */

#headerLogin{
	margin: 5px 50px 0 0;
	float: right;
	color: #bbb;
}

#banner{
    background: url("../images/banner_bg.jpg") no-repeat scroll center top #1D2A33;
    border-bottom: 15px solid #941F1C;
    height: 529px;
    min-height: 529px;
    min-width: 1022px;
}

div#banner .content{
	padding-top: 80px;
	height: 400px;
}

div#icon {
	background: url(../images/icon.png) no-repeat;
	width: 478px;
	height: 338px;
	display: block;
	margin-left: 540px;
	top: 270px;
	position: absolute;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}

#start{
	color: #e9b60b;
	font-size: 50px;
	line-height: 120%;
	position: relative;
	width: 900px;
	left: 0px;
	display: block;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	-moz-opacity: 0;
	opacity: 0;
}

#start a{
	font-size: 30px;
	color: #1d2a33;
	background-color: #e9b60b;
	height: 60px;
	width: 200px;
	text-align: center;
	margin-top: 125px;
	display: block;
}

#belt{
	background-color: #6d7a83;
	color: #fff;
	min-width: 1022px;
}

div#belt .content{
	height: 100px;
	line-height: 105%;
}

.steps {
	height: 80px;
	width: 250px;
	float: left;
	padding-left: 85px;
	padding-top: 25px;
	font-size: 17px;
}

#step1{
	background: url(../images/1.png) no-repeat;
	background-position: 0px -5px;
}

#step2{
	background: url(../images/2.png) no-repeat;
	background-position: 0px -5px;
}

#step3{
	background: url(../images/3.png) no-repeat;
	background-position: 0px -5px;
}

#story {
	min-width: 1022px;
	line-height: 130%;
}

div#story .content{
	height: 335px;
	padding-top: 20px;
}

#story p{
	padding-top: 30px;
	padding-left: 30px;
}

/* Login */

div#login .content{
	height: 550px;
}

div#login label {
    display: block;
	margin: 20px 0 10px 0;
	color: #258CD1;
}

div#login input{
	font-size: 25px;
	color: #777;
}

div#login input#email_address, div#login input#password{
	width: 255px;
}

div#login .submit {
    background-color: #258CD1;
    background-image: -moz-linear-gradient(center top , #4D90FE, #258CD1);
    border: 1px solid #258CD1;
    color: #FFFFFF;
    border-radius: 2px;
    font-weight: bold;
	cursor: pointer;
	margin: 15px 0 10px 0;
}

#login_left{
	float: left;
	padding: 50px 0 0 50px;
	width: 545px;
}

#login_left div{
	margin: 20px 0;
}

div#login_left span{
	color: #e9b60b;
}

#login_right{
	float: left;
	border: 1px solid #ccc;
	margin: 30px 0 0 80px;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

div#login_right span{
	color: #258CD1;
}


div#login_right p{
	font-size: 15px;
}

div#login .errors{
	font-size: 15px;
	color: #941f1c;
	margin-top: 10px;
	width: 260px;
}

/* Questionnaire */

.modal_popup div{
	margin: 0 20px 10px;
}

.modal_popup span{
	color: #258CD1;
	font-weight: bold;
}

.modal_popup span{
	color: #258CD1;
	font-weight: bold;
}

.modal_popup .intro{
	color: #e9b60b;
	font-weight: bold;
}

.modal_popup img{
	float: right;
	margin-left: 20px;
	margin-bottom: 10px;
}

div.hints {
    border-left: 1px solid #CCCCCC;
    border-radius: 5px 5px 0 0;
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    color: #E9B60B;
    display: none;
    font-size: 16px;
    height: 22px;
    margin-left: 410px;
    margin-top: -10px;
    padding-top: 5px;
    text-align: center;
    width: 200px;
}

div.hints div {
    display: none;
}


area{
	outline: none;
}

div#intro p{
	margin-bottom: 25px;
	color: #258CD1;
	font-weight: normal;
}

div#questions_layout, div#questions_preview{
    float: left;
    font-size: 20px;
    padding: 0 20px 20px;
    width: 470px;
}

div#questions_layout {
	border-right: 1px solid #ccc;
}

div#questions_layout div, div#questions_preview div{
	text-align: left;
	margin: 20px 0;
}

div#questions_layout span, div#questions_preview span{
	color: #e9b60b;
	font-size: 25px;
}

div#textDecor{
	font-size: 55px;
	float: left;
	margin: 0 !important;
	padding-right: 20px;
	color: #258CD1;
}

#criteria{
	border-top: 1px solid #ccc;
	padding-top: 30px;
}

div#criteria .content{
	min-height: 600px;
}

div.questions {
	text-align: center;
	min-height: 550px;
	display: none;
}

div#nextQuestion, div#showPreview{
	float: right;
	cursor: pointer;
	margin-right: 50px;
	display: none;
}

div#nextQuestion .next, div#showPreview .next{
	padding-top: 8px;
	height: 35px;
	width: 75px;
	color: #364954;
	background-color: #e9b60b;
	float: left;
	text-align: center;
}

.arrow {
	float: left;
	width: 0;
	height: 3px;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-bottom-width: 20px;
	border-bottom-style: solid;
	border-bottom-color: transparent;
	border-left: 20px solid #e9b60b;
	border-left-width: 20px;
	border-left-style: solid;
	border-left-color: #e9b60b;
}

div.bulb{
	background: url(../images/survey/tip_bulb.png) no-repeat;
	width: 52px;
	height: 52px;
	cursor: pointer;
	margin-top: -27px;
	float: right;
}

#progressBar{
	width: 900px;
	height: 30px;
	margin-left: 60px;
	background: url(../images/survey/progressBar.png) no-repeat;
	background-position: 20px 12px;
}

li.progress{
	float: left;
	width: 29px;
	height: 29px;
	margin: 0 8px;
	background: url(../images/survey/progressBar.jpg) no-repeat;
}

li.ip{
	background-position: -29px 0px;
	cursor: pointer;
}

li.filled{
	background-position: -58px 0px;
	cursor: pointer;
}

/* Question 1 - Company Type*/
ul#co_type {
	margin-left: 65px;
}

ul#co_type li{
	width: 208px;
	height: 408px;
	margin: 30px 20px 0 0;
	float: left;
	background: url(../images/survey/co_type.jpg) no-repeat;
	cursor: pointer;
}

li.coTypeSelected{
	height: 445px !important;
}

li#q1b{
	background-position: -208px 0px !important;
}

li#q1c{
	background-position: -418px 0px !important;
}

li#q1d{
	background-position: -627px 0px !important;
}

/* Question 2 - Company Pace*/

ul#co_pace{
	padding-top: 100px;
	margin-left: 231px;
}

ul#co_pace li{
	width: 120px;
	padding-top: 150px;
	margin-right: 100px;
	float: left;
	cursor: pointer;
}

li#q2a{
	background: url(../images/survey/co_pace.jpg) no-repeat;
	background-position: 0px 0px;
}

li#q2b{
	background: url(../images/survey/co_pace.jpg) no-repeat;
	background-position: -120px 0px;
}

li#q2c{
	background: url(../images/survey/co_pace.jpg) no-repeat;
	background-position: -240px 0px;
}

#co_pace li.selected{
	color: #364954;
}

/* Question 3 - Company Cycle*/

div#co_cycle_header{
	width: 838px;
	height: 40px;
	margin-left: 91px;
	margin-top: 30px;
	background: url(../images/survey/co_cycle_header.jpg) no-repeat;
}

ul#co_cycle{
		margin-left: 91px;
}

ul#co_cycle li{
	height: 379px;
	margin-top: 1px;
	float: left;
	background: url(../images/survey/co_cycle.jpg) no-repeat;
	cursor: pointer;
}

li.coCycleSelected{
	height: 414px !important;
}

li#q3a{
	width: 105px;
	background-position: 0px 0px !important;
}

li#q3b{
	width: 105px;
	background-position: -105px 0px !important;
}

li#q3c{
	width: 210px;
	background-position: -210px 0px !important;
}

li#q3d{
	width: 210px;
	background-position: -420px 0px !important;
}

li#q3e{
	width: 210px;
	background-position: -630px 0px !important;
}

/* Question 4 - Company Benefits*/

div#benefits_bar{
	background: url("../images/survey/benefits_bar.png") no-repeat scroll 0 0 transparent;
    float: left;
    width: 30px;
	height: 480px;
    margin: 20px 0 0 275px;
}

ul#co_benefits {
    float: left;
    text-align: center;
    width: 450px;	
	margin-top: 20px;
}

ul#co_benefits li{
	background-color: #fff;
    color: #6d7a83;
    font-size: 14px;
    font-weight: bold;
	margin: 0 3px 3px 3px;
    padding: 0.4em;
	border: 1px solid #ccc;
	cursor: pointer;
}

ul#co_benefits li span{
	float: right;
	filter:alpha(opacity=40);
	opacity:0.4;
}

.benefits_placeholder {
	height: 14px;
	line-height: 1.2em;
	background-color: #eef0ff !important;
	border: 1px dashed #258cd1 !important;
}

/* Slider Questions - Q5. Corporate Citizenship, Q6.Traveling, Q7. Role Variety, */

div#citizenshipSlider, div#travelSlider, div#roleSlider{
	width: 801px;
	margin-left: 111px;
	margin-top: 75px;
}

div.questions .ui-state-default {
    background: url("../images/survey/sliderHandleDefault.png") no-repeat !important;
    border: 0px;
}

div.questions .sliderActive {
    background:  url("../images/survey/sliderHandle.png") no-repeat !important;
}

div.questions .ui-slider-handle {
    height: 33px;
    width: 33px;
}

div.questions a {
	outline:none;
}

div.slider5Markers {
    background: url("../images/survey/slider_5markers.jpg") no-repeat scroll center top transparent;
    height: 110px;
    margin: -39px 0 0 11px;
    padding-top: 60px;
    position: absolute;
    width: 1000px;
    z-index: -50;
}

div.slider4Markers {
    background: url("../images/survey/slider_4markers.jpg") no-repeat scroll center top transparent;
    height: 110px;
    margin: -39px 0 0 11px;
	padding-top: 60px;
    position: absolute;
    width: 1000px;
	z-index: -50;
}

div.slider5Markers  ul, div.slider4Markers  ul{
	margin-left: 50px;
}

div.slider5Markers  li, div.slider4Markers  li{
	color: #999;
	font-size: 18px;
	width: 100px;
	float: left;
}

li.right5Marker{
	margin-right: 100px;
}

li.right4Marker{
	margin-right: 167px;
}

div.sliderSelected{
    color: #1D71A2;
    font-size: 40px;
    margin-top: 75px;
	height: 60px;
}

/* Question 8 - Promotion*/

div#promotion_bar{
	background: url("../images/survey/benefits_bar.png") no-repeat scroll 0 0 transparent;
    float: left;
    width: 30px;
	height: 480px;
    margin: 20px 0 0 275px;
}

ul#co_promotion {
    float: left;
    text-align: center;
    width: 450px;	
	margin-top: 20px;
}

ul#co_promotion li{
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #1D71A2;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    margin: 0 3px 3px;
    padding: 27px;
}

ul#co_promotion li span{
	float: right;
	filter:alpha(opacity=40);
	opacity:0.4;
	margin-top: 5px;
}

.sort6_placeholder {
	height: 22px;
	line-height: 1.2em;
	background-color: #eef0ff !important;
	border: 1px dashed #258cd1 !important;
}

/* Question 9 - Work environment */
div#envQuestions{
	height: 290px;
}

div.env{
	margin-left: 149px;
	display: none;
}

div.env div{
    background-color: #E9B60B;
    color: #FFFFFF;
    float: left;
    font-size: 30px;
    height: 80px;
    padding-top: 50px;
    width: 300px;
	margin: 80px 0 50px 0;
	border: 5px solid #fff;
	cursor: pointer;
}

div.env div.selected{
	border: 5px solid #1d71a2;
}

div.env .or{
	border: 0px;
	width: 100px;
	background-color: #fff;
	color: #1d71a2;
	padding-top: 56px;
	cursor: default;
}

img#envProgressOverlay{
	background: url("../images/survey/harvey_ball_10.png") no-repeat scroll 0 0 transparent;
	width: 127px;
	height: 125px;
	border: 0px;
}

/* Question 10 - Recognition */

div#recognition_bar{
	background: url("../images/survey/recognition_bar.png") no-repeat scroll 0 0 transparent;
    float: left;
    width: 30px;
	height: 480px;
    margin: 20px 0 0 275px;
}

ul#co_recognition {
    float: left;
    text-align: center;
    width: 450px;	
	margin-top: 20px;
}

ul#co_recognition li{
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #1D71A2;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    margin: 0 3px 3px;
    padding: 27px;
}

ul#co_recognition li span{
	float: right;
	filter:alpha(opacity=40);
	opacity:0.4;
	margin-top: 4px;
}

/* Question 11 - Politics */

div#politics {
	margin: 50px 0 0 55px;
}

img#politicsOverlay {
	background: url("../images/survey/politics.jpg") no-repeat scroll 0 0 transparent;
	width: 910px;
	height: 390px;
	overflow: hidden;
}

/* Question 12 - Tasks */

div#task_bar{
	background: url("../images/survey/task_bar.png") no-repeat scroll 0 0 transparent;
    float: left;
    width: 30px;
	height: 480px;
    margin: 25px 0 0 275px;
}

ul#favTask {
    float: left;
    text-align: center;
    width: 450px;	
	margin-top: 25px;
}

ul#favTask li{
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #CCCCCC;
    cursor: pointer;
    font-size: 18px;
    margin: 0 3px 3px;
    padding: 17px;
}

ul#favTask li span{
	float: right;
	filter:alpha(opacity=40);
	opacity:0.4;
	margin-top: 15px;
}

ul#favTask font{
	color: #1D71A2;
	font-size: 24px;
	font-weight: bold;
}

.task_placeholder {
	height: 42px;
	line-height: 1.2em;
	background-color: #eef0ff !important;
	border: 1px dashed #258cd1 !important;
}

/* Question 13 - Communications */

div#communications {
	margin: 50px 0 0 55px;
}

img#communicationOverlay {
	background: url("../images/survey/communication.jpg") no-repeat scroll 0 0 transparent;
	width: 910px;
	height: 390px;
	overflow: hidden;
}

/* Question 14 - Resources */

div#steps_bar{
	background: url("../images/survey/resourceSteps.png") no-repeat scroll 0 0 transparent;
    float: left;
    width: 36px;
	height: 400px;
    margin: 55px 30px 0 250px;
}

ul#resource {
    float: left;
    text-align: center;
    width: 450px;	
	margin-top: 35px;
}

ul#resource li{
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #1d71a2;
    cursor: pointer;
    font-size: 22px;
    margin: 0 3px 3px;
    padding: 30px 15px;
}

ul#resource li span{
	float: right;
	filter:alpha(opacity=40);
	opacity:0.4;
	margin-top: 5px;
}

.resource_placeholder {
	height: 22px;
	line-height: 1.2em;
	background-color: #eef0ff !important;
	border: 1px dashed #258cd1 !important;
}

/* Question 15 - Supervisor */

div#supervisor {
	margin: 50px 0 0 25px;
}

img#supervisorOverlay {
	background: url("../images/survey/supervisor.jpg") no-repeat scroll 0 0 transparent;
	width: 928px;
	height: 445px;
	overflow: hidden;
}

/* Question 16 - Intuition */
div#intuition{
	margin: 75px 0 0 190px;
	height: 230px;
	width: 650px;	
}


div#intuition .true_false{
	width: 215px;
	height: 215px;
	background: url("../images/survey/true_false.png") no-repeat scroll 0 0 transparent;
	color: #1d71a2;
	cursor: pointer;
	float: left;
	margin: 0 50px;
	font-size: 45px;
	padding-top: 80px;
}

div#intuition .selected{
	color: #e9b60b;
	background-position: -215px 0px;
}

/* Question 17 - Respect */
div#respect {
	margin: 50px 0 0 55px;
}

img#respectOverlay {
	background: url("../images/survey/respect.jpg") no-repeat scroll 0 0 transparent;
	width: 910px;
	height: 390px;
	overflow: hidden;
}

/* Question 18 - Leadership */
div#leadership {
	margin: 50px 0 0 -10px;
}

img#leadershipOverlay {
	background: url("../images/survey/leadership.jpg") no-repeat scroll 0 0 transparent;
	width: 966px;
	height: 418px;
	overflow: hidden;
}

/* Question 19 - Traits */
div#traits {
	margin: 20px 0 0 25px;
	height: 500px;
}

div#traits div{
	border: 1px solid #CCCCCC;
	color: #1d71a2;
	cursor: pointer;
	float: left;
	font-size: 22px;
	height: 60px;
	margin: 10px 20px 10px 0;
	padding-top: 35px;
	width: 175px;	
}

div#traits .selected{
	background-color: #1d71a2;
	color: #fff;
}

/* Question 20 - Motivation */
div#motivation {
	margin: 50px 0 0 55px;
}

img#motivationOverlay {
	background: url("../images/survey/motivation.jpg") no-repeat scroll 0 0 transparent;
	width: 910px;
	height: 390px;
	overflow: hidden;
}

/* Preview Results */
div#preview .content{
	padding-top: 25px;
	height: 550px;
	text-align: center;
}

div#preview p{
	margin-bottom: 20px;
}

div#preview #title{
	font-size: 40px;
}

div#preview span{
	color: #e9b60b;
}

div#preview font{
	font-style: italic;
}

div#preview #info{
    margin-left: 110px;
    width: 800px;
}

div#preview #previewButtons{
	margin: 60px 270px;
}

div#preview #signUp, div#preview #signIn{
	float: left;
	width: 155px;
	height: 50px;
	background-color: #e9b60b;
	color: #364954;
	font-size: 35px;
	padding-top: 10px;
	cursor: pointer;
}

div#preview #progressIcon{
	float: left;
	margin: 0 50px;
}